
.fond_du_site {
	background-color: #FCF8F8;
}

p {
	font-size: 16px;
	font-family: 'Exo';
	font-weight: 300;
	padding: 0px 10px 0px 10px;
}

.nav-item {
	color : white;
}

.card h2 {
	text-align: center;
	font-size: 22px;
	font-family: 'Cabin', sans-serif;
	color: #604f52;
}

.card h3 {
	text-align: center;
	font-size: 18px;
	color: #604f52;
	font-family: 'Cabin', sans-serif;
	color: #4FB0AE;
}

.card {
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.card p {
	padding-left : 30px;
	padding-right: 30px;
	font-size: 14px;
}

.picture {
	padding : 10px;
	height: 210px;
	object-fit: cover;
	border-radius: 20px;
}

/*FOOTER*/

#footer {
	background-color: #604f52;
	height : 15%;
	position: bottom-fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	bottom: 0px;
	color : white;
}

#footer a{
	font-size: 30px;
	padding: 5px;
	margin: 5px;
	color: white;
}

#footer a:hover{
	text-decoration: none;
	color: #fc6f6f;
}

.footer-content {
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 20px;
}